ramz.el

# Ignore all pem and ppk files to be accidentally checked in
*.pem
*.ppk
*.pub

# Ignore all id_rsa
id_rsa*
id_dsa*
ssh/id_*
ssh/authorized_keys
ssh/known_hosts

# Ignore symlinks
ssh/config

tmux/tmuxinator/bin

zsh/workalias
zsh/plugins
zsh/themes

spacemacs.env
git/gitconfig
git/gitconfig-*

**/node_modules/*
nushell/mise.nu
nushell/history.txt

.zed/

tags
test.sh
.luarc.json
nvim

spell/
lazy-lock.json

.github
*.msgpackz

git/gitconfig
nushell/vendor/autoload/*

carapace/bridge/bash/*
carapace/bridge/zsh/*

zed/settings_backup.json
awesome/bling
awesome/freedesktop
awesome/lain
awesome/layout-machi
